<!DOCTYPE html>
<html class="has-background-grey-darker">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="has-background-grey-dark">
<nav class="navbar has-background-grey-darker" role="navigation" aria-label="main navigation">
    <div class="navbar-brand"><a class="navbar-item has-text-white has-text-weight-bold" href="/">Tasker</a></div>
</nav>
<div class="container is-fluid ">
    <section class="section">
        {% block content %}
        {% endblock %}
    </section>
</div>
<footer class="footer has-background-grey-darker">
    <div class="content has-text-centered has-text-light"><p>
        <strong>Tasker</strong> by <a href="https://github.com/Saphyel/">Saphyel</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p></div>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>